#Port configuration
PORT = 4000

# JWT configuration
JWT_SECRET=<your-jwt-secret-key>

# Email configuration
EMAIL_USER=<your-email>
EMAIL_PASS=<your-email-password>

# Database configuration
DATABASE_URL=<your-database-url>

# Firebase Configuration
FIREBASE_PROJECT_ID=<your-firebase-project-id>
FIREBASE_CLIENT_EMAIL=<your-firebase-client-email>
FIREBASE_PRIVATE_KEY=<your-firebase-private-key>
FIREBASE_VAPID_KEY=<your-firebase-vapid-key-for-web-push>

# Redis configuration (for BullMQ job queues)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=<your-redis-password-if-any>

# Node environment
NODE_ENV=development