openapi: 3.0.3
info:
  title: Part-Find API
  description: >-
    Job platform API for connecting users with gig work opportunities.


    Most endpoints live under **/api/v1**. **/api/v2** exists only for
    endpoints whose response shape changed in a way older app builds could not
    tolerate — today that is the candidate job feed, which gained the
    recruiter's profile. v1 is frozen for the apps already in the wild.
  version: 1.1.0
  contact:
    email: official@part-find.com

servers:
  - url: https://api.part-find.org
    description: Production
  - url: https://dev-api.part-find.org
    description: Dev / staging
  - url: http://localhost:4000
    description: Local

tags:
  - name: Auth
    description: Authentication endpoints
  - name: Users
    description: User profile management
  - name: Posts
    description: Job post management
  - name: Ratings
    description: User rating system
  - name: Notifications
    description: >-
      In-app notification feed + push (FCM). Every push sent to a user is also
      stored in their feed (read/unread), kept for the last 7 days.
  - name: Master
    description: Master data endpoints
  - name: Certificates
    description: User completion certificates
  - name: Admin
    description: Admin-only management endpoints (post approval, referral codes, etc.)
  - name: Referral
    description: Referral code validation and administration
  - name: Chat
    description: >-
      Recruiter ↔ applicant chat. One thread per application, created when the
      user applies. An APPROVED applicant may write whenever they like; any
      other applicant may only reply after the recruiter writes first. Both
      sides are locked out once the event starts. Live delivery is over
      Socket.IO at /socket.io (same host, JWT in the handshake `auth.token`).

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Pagination:
      type: object
      properties:
        page: { type: integer }
        limit: { type: integer }
        total: { type: integer }
        pages: { type: integer }

    ChatParticipant:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, nullable: true }
        email: { type: string }
        phone_number: { type: string, nullable: true }
        role: { type: string }
        recruiter_company_name: { type: string, nullable: true }
        recruiter_company_logo: { type: string, nullable: true }

    ChatThread:
      type: object
      properties:
        id: { type: string, format: uuid }
        postId: { type: string, format: uuid }
        applicationId: { type: string, format: uuid }
        applicationStatus:
          type: string
          enum: [PENDING, APPROVED, REJECTED, CANCELLED, NOT_PRESENT]
        post: { type: object }
        applicant: { $ref: '#/components/schemas/ChatParticipant' }
        recruiter: { $ref: '#/components/schemas/ChatParticipant' }
        otherParty: { $ref: '#/components/schemas/ChatParticipant' }
        myRole: { type: string, enum: [APPLICANT, RECRUITER, ADMIN] }
        isOpen:
          type: boolean
          description: false once the event has started (read-only for both sides)
        closedReason:
          type: string
          nullable: true
          enum: [EVENT_STARTED, POST_INACTIVE]
        canSendMessage:
          type: boolean
          description: >-
            Viewer-specific. A thread can be open while this person still may
            not write — a not-yet-approved applicant waiting for the recruiter.
        cannotSendReason:
          type: string
          nullable: true
          enum: [AWAITING_RECRUITER, CHAT_CLOSED, NOT_A_PARTICIPANT]
        recruiterStarted:
          type: boolean
          description: the recruiter has written at least once, which unlocks replies
        closesAt: { type: string, format: date-time }
        lastMessageAt: { type: string, format: date-time, nullable: true }
        lastMessagePreview: { type: string, nullable: true }
        lastSenderId: { type: string, nullable: true }
        messageCount: { type: integer }
        unreadCount: { type: integer }

    ChatMessage:
      type: object
      properties:
        id: { type: string, format: uuid }
        threadId: { type: string, format: uuid }
        senderId: { type: string, format: uuid }
        body: { type: string }
        createdAt: { type: string, format: date-time }

    RecruiterSummary:
      type: object
      description: The post owner's public profile. Contact details are never included.
      properties:
        id: { type: string, format: uuid }
        name: { type: string, nullable: true }
        companyName: { type: string, nullable: true }
        companyLogo: { type: string, nullable: true }
        companyType: { type: string, nullable: true }
        companyAddress: { type: string, nullable: true }
        memberSince: { type: string, format: date-time }
        averageRating:
          type: number
          nullable: true
          description: mean of the ratings candidates gave them, 1 decimal place
        ratingCount: { type: integer }

    PostV2:
      type: object
      description: A feed post as returned by /api/v2/post/get-all.
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        content: { type: string, nullable: true }
        location: { type: string, nullable: true }
        state:
          type: string
          nullable: true
          description: the event's state, set from `event_state` on create
        startDate: { type: string, format: date-time }
        endDate: { type: string, format: date-time }
        payment: { type: number, nullable: true }
        paymentGirls: { type: number, nullable: true }
        paymentBoys: { type: number, nullable: true }
        girls: { type: integer, nullable: true }
        boys: { type: integer, nullable: true }
        appliedFlag: { type: integer, enum: [0, 1] }
        appliedStatus: { type: string }
        appliedApplicants: { type: integer }
        savedFlag: { type: integer, enum: [0, 1] }
        recruiter: { $ref: '#/components/schemas/RecruiterSummary' }

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        phone_number:
          type: string
        role:
          type: string
          enum: [USER, ADMIN, RECRUITER, SERVICE_SEEKER]
          description: >-
            USER = student/job-seeker; RECRUITER = posts jobs & self-serves;
            SERVICE_SEEKER = client who asks PartFind to source gigs/candidates
            (managed service); ADMIN = platform admin.
        is_active:
          type: boolean
        experience:
          type: array
          items:
            type: string
        education:
          type: array
          items:
            type: object
            properties:
              institution_name: { type: string }
              degree: { type: string }
              field_of_study: { type: string }
              startDate: { type: string, format: date-time }
              endDate: { type: string, format: date-time }
              description: { type: string }
        aadhaar_number:
          type: string
          description: Masked Aadhaar number (e.g. "XXXX XXXX 1234"). The full number is never returned.
        aadhaar_on_file:
          type: boolean
          description: Whether the user has uploaded an Aadhaar image
        referred_by_code:
          type: string
          nullable: true
          description: Referral code this account signed up with (set once, at first-time signup)

    Post:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
        location:
          type: string
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        payment:
          type: number
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        total:
          type: integer
        boys:
          type: integer
        girls:
          type: integer
        lunch:
          type: boolean
        category:
          type: string
          description: General category for the job post (e.g., Hospitality, Retail)
        type_id:
          type: integer
          description: Employment type ID (from GET /post/types)
        pay_period:
          type: string
          enum: [HOURLY, DAILY, MONTHLY]
          description: Time basis of the post (hourly / daily / monthly)
        is_active:
          type: boolean
        approval_status:
          type: string
          enum: [PENDING, APPROVED, REJECTED]
          description: New posts start PENDING and are hidden from users until an admin approves them
        approval_remark:
          type: string
          nullable: true
          description: Admin note / rejection reason
        approved_at:
          type: string
          format: date-time
          nullable: true

    Rating:
      type: object
      properties:
        id:
          type: string
          format: uuid
        postId:
          type: string
        recruiterId:
          type: string
        userId:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
        createdAt:
          type: string
          format: date-time

    RecruiterRating:
      type: object
      properties:
        id:
          type: string
          format: uuid
        postId:
          type: string
        userId:
          type: string
        recruiterId:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
        createdAt:
          type: string
          format: date-time

    AppVersion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        version:
          type: string
        buildNumber:
          type: integer
        platform:
          type: string
        forceUpdate:
          type: boolean
        message:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Certificate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
        postId:
          type: string
        recruiterId:
          type: string
        rating:
          type: integer
          minimum: 3
          maximum: 5
        issuedAt:
          type: string
          format: date-time

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object

    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          description: >-
            One of JOB_REMINDER, RATING_RECEIVED, NEW_JOB_POSTED, POST_APPROVED,
            NEW_APPLICATION, APPLICATION_STATUS, APPLICATION_NOT_SELECTED,
            LOW_RATING_WARNING, ABSENT_WARNING, COMPLETION_CERTIFICATE,
            INACTIVE_USER_REMINDER, ADMIN_MESSAGE, TEST_NOTIFICATION
        title:
          type: string
        body:
          type: string
        postId:
          type: string
          nullable: true
          description: Related post (for deep-linking), when there is one
        data:
          type: object
          nullable: true
          description: Extra payload (e.g. applicationId, status, rejectReason, rating)
        is_read:
          type: boolean
        read_at:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    ReferralCode:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          description: The referral code (unique, uppercase)
        name:
          type: string
          description: Owner's name
        email:
          type: string
          format: email
          description: Owner's email
        usage_count:
          type: integer
          description: Number of accounts that signed up using this code
        is_active:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

security:
  - bearerAuth: []

paths:
  # App Configuration
  /api/v1/version:
    get:
      tags: [Master]
      summary: Get application version configuration
      security: []
      parameters:
        - in: query
          name: platform
          schema:
            type: string
            default: android
          description: Platform to check version for
      responses:
        '200':
          description: Version config successfully fetched
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    $ref: '#/components/schemas/AppVersion'

  # Auth Routes
  /api/v1/auth/request-otp:
    post:
      tags: [Auth]
      summary: Request OTP for login / signup
      description: >-
        Sends a login OTP. Provide either `email` or `phone_number`. On first-time
        signup, `role` sets the account type (USER, RECRUITER or SERVICE_SEEKER);
        it is ignored for existing users. The response's `isNewUser` reflects
        profile completeness using the business check for RECRUITER/SERVICE_SEEKER
        and the personal check for USER.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                phone_number:
                  type: string
                  description: Alternative to email
                role:
                  type: string
                  enum: [USER, RECRUITER, SERVICE_SEEKER]
                  description: Account type for a first-time signup (ignored for existing users)
      responses:
        '200':
          description: OTP sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/auth/verify-otp:
    post:
      tags: [Auth]
      summary: Verify OTP and login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, otp]
              properties:
                userId:
                  type: string
                  description: User ID returned from request-otp
                otp:
                  type: string
                  description: OTP received via email/SMS
                fcmToken:
                  type: string
                  description: Firebase Cloud Messaging token for push notifications (optional)
                referral_code:
                  type: string
                  description: >-
                    Optional referral code. Applied ONCE, only at first-time signup
                    (new user, no code used yet). Increments the code's usage_count
                    and records it on the user. Invalid/inactive/self-referral codes
                    are ignored and never block signup.
      responses:
        '200':
          description: Login successful with JWT token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          accessToken:
                            type: string
                          refreshToken:
                            type: string
                          isNewUser:
                            type: boolean
                          referralApplied:
                            type: boolean
                            description: True if a valid referral code was applied during this signup
                          user:
                            $ref: '#/components/schemas/User'

  /api/v1/auth/firebase-signin:
    post:
      tags: [Auth]
      summary: Sign in with Firebase/Google
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [idToken, fcmToken]
              properties:
                idToken:
                  type: string
                  description: Firebase ID token from Google Sign-In
                fcmToken:
                  type: string
                  description: Firebase Cloud Messaging token for push notifications
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access and refresh tokens
      description: Exchange a valid refresh token for a new access token and refresh token. The old refresh token is revoked (token rotation).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                  description: The refresh token received during login
      responses:
        '200':
          description: Tokens refreshed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          accessToken:
                            type: string
                          refreshToken:
                            type: string
        '401':
          description: Invalid, expired, or revoked refresh token

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Logout user
      description: >-
        Revokes the provided refresh token. The FCM token is intentionally
        retained so the user keeps receiving push notifications (e.g. application
        approved) after logging out; it is overwritten on the next login.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: Refresh token to revoke (optional)
      responses:
        '200':
          description: Logged out successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized

  /api/v1/auth/logout-all:
    post:
      tags: [Auth]
      summary: Logout from all devices
      description: Revokes all refresh tokens for the authenticated user and clears the FCM token.
      responses:
        '200':
          description: Logged out from all devices
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          revokedSessions:
                            type: integer
                            description: Number of sessions revoked
        '401':
          description: Unauthorized

  /api/v1/auth/delete-profile:
    delete:
      tags: [Auth]
      summary: Delete user account
      responses:
        '200':
          description: Account deleted

  # User Routes
  /api/v1/users/profile:
    get:
      tags: [Users]
      summary: Get current user profile
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    put:
      tags: [Users]
      summary: Update user profile
      description: >-
        Updates the user's profile. `email` and `phone_number` are login
        identifiers and must stay unique — changing either to a value already
        used by another account returns a validation error. Both are only applied
        when a (changed) value is provided.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                  description: New email (must be unique across accounts)
                phone_number:
                  type: string
                  description: New phone number (must be unique across accounts)
                date_of_birth:
                  type: string
                  format: date
                gender:
                  type: string
                address:
                  type: string
                state:
                  type: string
                country:
                  type: string
                profile_image:
                  type: array
                  items:
                    type: string
                    format: binary
                experience:
                  type: string
                  description: JSON string array of experience objects
                education:
                  type: string
                  description: JSON string array of education objects
      responses:
        '200':
          description: Profile updated

  /api/v1/users/recruiter-profile:
    get:
      tags: [Users]
      summary: Get recruiter profile
      responses:
        '200':
          description: Recruiter profile
    put:
      tags: [Users]
      summary: Update recruiter profile
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                company_name:
                  type: string
                event_state:
                  type: string
                  maxLength: 100
                  description: >-
                    Indian state the event takes place in. Stored on the post as
                    `state`; `state` is accepted as an alias. Trimmed; blank is
                    stored as null. On update the value is only touched when the
                    key is present.
                  example: Maharashtra
                recruiter_type:
                  type: string
                company_registration:
                  type: string
                company_address:
                  type: string
                companyLogo:
                  type: string
                  format: binary
      responses:
        '200':
          description: Recruiter profile updated

  /api/v1/users:
    get:
      tags: [Users]
      summary: Get all users (Admin only)
      responses:
        '200':
          description: List of users

  /api/v1/users/fcm-token:
    put:
      tags: [Users]
      summary: Update FCM token for push notifications
      description: Update the user's Firebase Cloud Messaging token. Call this on app startup or when the FCM token refreshes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fcmToken]
              properties:
                fcmToken:
                  type: string
                  description: Firebase Cloud Messaging registration token
      responses:
        '200':
          description: FCM token updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: FCM token is required
        '401':
          description: Unauthorized

  # Aadhaar (KYC)
  /api/v1/users/aadhaar:
    put:
      tags: [Users]
      summary: Submit / update the caller's Aadhaar (KYC)
      description: >-
        Validates a 12-digit Aadhaar (Verhoeff checksum), stores it (unique per account),
        and saves the card image to a private directory. The number is always masked in
        responses and never logged. An image is required on first submission.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [aadhaar_number]
              properties:
                aadhaar_number:
                  type: string
                  description: 12-digit Aadhaar number
                aadhaar_image:
                  type: string
                  format: binary
                  description: Aadhaar card image (required if none is on file yet)
      responses:
        '200':
          description: Aadhaar saved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          aadhaar_number:
                            type: string
                            description: Masked (e.g. "XXXX XXXX 1234")
                          aadhaar_on_file:
                            type: boolean
        '400':
          description: Invalid Aadhaar number, missing image, or already registered to another account
        '401':
          description: Unauthorized

  /api/v1/users/aadhaar/image:
    get:
      tags: [Users]
      summary: Get the caller's own Aadhaar image
      description: Streams the authenticated user's Aadhaar card image from the private store.
      responses:
        '200':
          description: Aadhaar image (JPEG)
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
        '404':
          description: No Aadhaar image on file

  /api/v1/users/aadhaar/image/{userId}:
    get:
      tags: [Admin]
      summary: Get any user's Aadhaar image (Admin only)
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Aadhaar image (JPEG)
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: No Aadhaar image on file

  # Post Routes
  /api/v1/post:
    post:
      tags: [Posts]
      summary: Create a new job post (Recruiter/Admin)
      description: >-
        Creates a job post. New posts start with approval_status = PENDING and are
        NOT visible to users until an admin approves them (via PATCH /admin/posts/{id}/approval).
        Posts created by an ADMIN are auto-approved. The "new job" push notification fires
        when the post goes live (on approval), not at creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content, startDate, endDate]
              properties:
                title:
                  type: string
                content:
                  type: string
                requirement:
                  type: string
                total:
                  type: integer
                boys:
                  type: integer
                girls:
                  type: integer
                lunch:
                  type: boolean
                startDate:
                  type: string
                  format: date-time
                endDate:
                  type: string
                  format: date-time
                location:
                  type: string
                latitude:
                  type: number
                longitude:
                  type: number
                payment:
                  type: number
                paymentDate:
                  type: string
                  format: date-time
                company_name:
                  type: string
                event_state:
                  type: string
                  maxLength: 100
                  description: >-
                    Indian state the event takes place in. Stored on the post as
                    `state`; `state` is accepted as an alias. Trimmed; blank is
                    stored as null. On update the value is only touched when the
                    key is present.
                  example: Maharashtra
                categories:
                  type: string
                  description: Comma-separated category IDs
                category:
                  type: string
                  description: General category for the job post (e.g., Hospitality, Retail)
                type_id:
                  type: integer
                  description: Employment type ID (from GET /post/types). Optional.
                pay_period:
                  type: string
                  enum: [HOURLY, DAILY, MONTHLY]
                  description: Time basis of the post (hourly / daily / monthly). Optional.
      responses:
        '201':
          description: Post created

  /api/v1/post/types:
    get:
      tags: [Posts]
      summary: List employment/post types
      description: >-
        Returns the available post types (Part-Time, Full-Time, ...). By default
        only active types are returned; pass ?all=true (admin) to include inactive
        ones. Used to populate the create-post type dropdown and the feed type filter.
      parameters:
        - name: all
          in: query
          required: false
          schema:
            type: string
            enum: ["true", "false"]
          description: "true = include inactive types (for admin management)"
      responses:
        '200':
          description: List of post types

  /api/v1/post/update/{id}:
    put:
      tags: [Posts]
      summary: Update a job post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Post'
      responses:
        '200':
          description: Post updated

  /api/v1/post/delete/{id}:
    delete:
      tags: [Posts]
      summary: Delete a job post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post deleted

  /api/v1/post/get-all:
    get:
      tags: [Posts]
      summary: Get all active posts (User)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: type_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter posts by employment type (from GET /post/types)
      responses:
        '200':
          description: List of posts (each includes its `type` object)

  /api/v1/post/nearby:
    get:
      tags: [Posts]
      summary: Get nearby posts based on location
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
          description: User latitude
        - name: long
          in: query
          required: true
          schema:
            type: number
          description: User longitude
        - name: radius
          in: query
          schema:
            type: number
            default: 10
          description: Search radius in kilometers
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: type_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter nearby posts by employment type
      responses:
        '200':
          description: List of nearby posts with distance
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      posts:
                        type: array
                        items:
                          allOf:
                            - $ref: '#/components/schemas/Post'
                            - type: object
                              properties:
                                distance:
                                  type: number
                                  description: Distance in km
                      totalPages:
                        type: integer
                      currentPage:
                        type: integer
                      searchRadius:
                        type: number

  /api/v1/post/{id}:
    get:
      tags: [Posts]
      summary: Get post by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post details

  /api/v1/post/apply/{id}:
    post:
      tags: [Posts]
      summary: Apply to a job post
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  description: Application message
      responses:
        '201':
          description: Application submitted

  /api/v1/post/applied/get-all:
    get:
      tags: [Posts]
      summary: Get all posts user has applied to
      responses:
        '200':
          description: List of applied posts

  /api/v1/post/get-all-post:
    get:
      tags: [Posts]
      summary: Get all posts by recruiter (Recruiter only)
      responses:
        '200':
          description: List of recruiter's posts

  /api/v1/post/list/{id}:
    post:
      tags: [Posts]
      summary: Get applicants for a post (Recruiter/Admin)
      description: >-
        Returns the post's applicants grouped by status. Each applicant carries
        `is_attended` (whether they were marked present at the event). Includes a
        separate `withdrawn` list, each entry carrying the withdrawal `remark`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            Applicants for the post, including approved, rejected and withdrawn
            lists (withdrawn entries include the withdrawal reason/remark).

  /api/v1/post/update-status/{id}:
    put:
      tags: [Posts]
      summary: Update applicant status (Recruiter only)
      description: >-
        Updates an application's status. Setting the status to APPROVED or
        REJECTED stores an in-app notification for the applicant and pushes it
        to their device (REJECTED is a "better luck next time" message). On
        REJECTED, the optional `reason` is stored and surfaced to the applicant
        on their applied-posts list (as `rejectReason`). Setting NOT_PRESENT
        flags the user and sends an absence warning.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Application ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [PENDING, APPROVED, REJECTED, CANCELLED, NOT_PRESENT]
                reason:
                  type: string
                  description: Rejection reason (stored when status is REJECTED; `remark` also accepted)
      responses:
        '200':
          description: Status updated

  /api/v1/post/recruitment/{id}:
    put:
      tags: [Posts]
      summary: Open or close recruitment for a post (Recruiter owner / Admin)
      description: >-
        Toggles whether a post is actively accepting applications, independent of
        the post's end date. When recruitment is closed, users can no longer apply
        even if the post has not yet ended. Closing also sends every applicant
        still PENDING a "better luck next time" notification (in-app + push).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Post ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [is_recruiting]
              properties:
                is_recruiting:
                  type: boolean
                  description: true to open recruitment, false to close it
      responses:
        '200':
          description: Recruitment status updated
        '403':
          description: Not the post owner / not permitted
        '404':
          description: Post not found

  /api/v1/post/attendance/{postId}:
    put:
      tags: [Posts]
      summary: Bulk mark applicants as attended (Recruiter owner / Admin)
      description: >-
        Marks the given applicants as having attended the event. Only users who
        actually applied to the post are marked (others are returned in
        `skippedNotApplied`). Each attendee is issued a participation certificate
        (idempotent — no duplicates); a rating attached later by the recruiter is
        added to that same certificate. Passing `attended: false` un-marks them
        and removes the unrated (attendance-only) certificate.
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            description: Post ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userIds]
              properties:
                userIds:
                  type: array
                  items:
                    type: string
                  description: IDs of applicants to mark
                attended:
                  type: boolean
                  default: true
                  description: true to mark attended (default), false to un-mark
      responses:
        '200':
          description: >-
            Attendance updated. Response data includes `marked`, `count`,
            `attended`, `certificatesIssued`, and `skippedNotApplied`.
        '403':
          description: Not the post owner / not permitted
        '404':
          description: Post not found

  /api/v1/post/save/{postId}:
    post:
      tags: [Posts]
      summary: Save a post
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post saved

  /api/v1/post/unsave/{postId}:
    post:
      tags: [Posts]
      summary: Un-save a post
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Post unsaved

  /api/v1/post/save/get-all:
    get:
      tags: [Posts]
      summary: Get all saved posts
      responses:
        '200':
          description: List of saved posts

  /api/v1/post/cancel-application/{postId}:
    post:
      tags: [Posts]
      summary: Cancel a job application
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                remark:
                  type: string
                  description: Reason for cancellation
      responses:
        '200':
          description: Application cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # Rating Routes
  /api/v1/rating/user/{userId}:
    get:
      tags: [Ratings]
      summary: Get all ratings for a user
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: User ratings with pagination
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      ratings:
                        type: array
                        items:
                          $ref: '#/components/schemas/Rating'
                      totalPages:
                        type: integer
                      currentPage:
                        type: integer
                      totalRatings:
                        type: integer

  /api/v1/rating/average/{userId}:
    get:
      tags: [Ratings]
      summary: Get average rating for a user
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Average rating
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      averageRating:
                        type: number
                      totalRatings:
                        type: integer

  /api/v1/rating/job/{postId}:
    get:
      tags: [Ratings]
      summary: Get all ratings for a job (Recruiter only)
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job ratings

  /api/v1/rating/recruiter/{postId}:
    post:
      tags: [Ratings]
      summary: Submit a rating for a recruiter (User only)
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating]
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
      responses:
        '201':
          description: Recruiter rating submitted

  /api/v1/rating/recruiter/{recruiterId}:
    get:
      tags: [Ratings]
      summary: Get all ratings for a recruiter
      parameters:
        - name: recruiterId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Recruiter ratings with pagination
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      ratings:
                        type: array
                        items:
                          $ref: '#/components/schemas/RecruiterRating'
                      totalPages:
                        type: integer
                      currentPage:
                        type: integer
                      totalRatings:
                        type: integer

  /api/v1/rating/recruiter/average/{recruiterId}:
    get:
      tags: [Ratings]
      summary: Get average rating for a recruiter
      parameters:
        - name: recruiterId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recruiter average rating
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      averageRating:
                        type: number
                      totalRatings:
                        type: integer

  # Notification Routes
  /api/v1/notifications:
    get:
      tags: [Notifications]
      summary: Get my notification feed
      description: >-
        The authenticated user's notifications from the last 7 days, newest
        first. Older notifications are purged daily and never returned. The
        response also carries `unreadCount` so the app can badge the bell in
        the same request. Push payloads include `notificationId` so the app can
        call the mark-as-read endpoint when a push is tapped.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: unread
          in: query
          description: Set to `true` to return only unread notifications
          schema:
            type: boolean
      responses:
        '200':
          description: Notification feed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          $ref: '#/components/schemas/Notification'
                      unreadCount:
                        type: integer
                      retentionDays:
                        type: integer
                        example: 7
                      totalPages:
                        type: integer
                      currentPage:
                        type: integer
                      total:
                        type: integer
        '401':
          description: Unauthorized

  /api/v1/notifications/unread-count:
    get:
      tags: [Notifications]
      summary: Get my unread notification count
      description: Lightweight badge endpoint (unread notifications within the last 7 days).
      responses:
        '200':
          description: Unread count
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      unreadCount:
                        type: integer
        '401':
          description: Unauthorized

  /api/v1/notifications/read-all:
    patch:
      tags: [Notifications]
      summary: Mark all my notifications as read
      responses:
        '200':
          description: All marked as read; `data.updated` is the number changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized

  /api/v1/notifications/{id}/read:
    patch:
      tags: [Notifications]
      summary: Mark one notification as read
      description: Idempotent. Only the owner of the notification can mark it.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          description: Unauthorized
        '404':
          description: Notification not found (or not yours)

  /api/v1/notifications/{id}:
    delete:
      tags: [Notifications]
      summary: Delete one of my notifications
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
        '401':
          description: Unauthorized
        '404':
          description: Notification not found (or not yours)

  /api/v1/notifications/test:
    post:
      tags: [Notifications]
      summary: Send a test push notification
      description: >-
        Sends a test FCM push notification to the authenticated user and stores
        it in their feed. Useful for verifying that FCM is properly configured,
        the user's token is valid, and the feed endpoints work end to end.
      responses:
        '200':
          description: Test notification sent successfully (`data.notificationId` is the stored row)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: No FCM token found for user
        '401':
          description: Unauthorized
        '500':
          description: Failed to send notification (invalid/expired token)

  # Master Routes
  /api/v1/master/categories:
    get:
      tags: [Master]
      summary: Get all job categories
      security: []
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        description:
                          type: string

  # Rating Routes
  /api/v1/rating/{postId}/{userId}:
    post:
      tags: [Ratings]
      summary: Submit a rating for a user (Recruiter only)
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Post ID for which the rating is being given
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the user being rated
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating]
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                  description: |
                    Triggers a low-rating warning if user receives >5 one-star ratings in 30 days.
                    Issues a completion certificate if rating >= 3.
                comment:
                  type: string
      responses:
        '201':
          description: Rating submitted. Certificate issued if rating >= 3.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation error
        '401':
          description: Unauthorized
        '409':
          description: Rating already submitted for this post/user

  # Certificate Routes
  /api/v1/certificate/my-certificates:
    get:
      tags: [Certificates]
      summary: Get all certificates earned by the authenticated user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of certificates
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Certificate'
                        - type: object
                          properties:
                            post:
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                startDate:
                                  type: string
                                  format: date-time
                                endDate:
                                  type: string
                                  format: date-time
                            recruiter:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                recruiter_company_name:
                                  type: string
        '401':
          description: Unauthorized

  /api/v1/certificate/download/{id}:
    get:
      tags: [Certificates]
      summary: Download a certificate as PDF
      description: Streams the certificate as a downloadable PDF file.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Certificate ID
      responses:
        '200':
          description: PDF file stream
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - certificate belongs to another user
        '404':
          description: Certificate not found

  # Admin - Post moderation
  /api/v1/admin/posts:
    get:
      tags: [Admin]
      summary: List all job posts (Admin only)
      description: Returns all posts with recruiter info, employment `type`, and applicant counts. Optional status/type filters.
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [PENDING, APPROVED, REJECTED]
          description: Filter by approval status (e.g. PENDING for the moderation queue)
        - name: type_id
          in: query
          required: false
          schema:
            type: integer
          description: Filter by employment type
      responses:
        '200':
          description: List of posts
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only

  /api/v1/admin/posts/{id}/applicants:
    get:
      tags: [Admin]
      summary: Per-post applicant breakdown (Admin only)
      description: >-
        Full applicant breakdown for a single post (any post). Returns per-status
        counts plus grouped lists: pending, approved, rejected (with reject reason),
        withdrawn (CANCELLED, with withdrawal reason) and not-present. Each applicant
        includes `is_attended` (marked present at the event).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Post ID
      responses:
        '200':
          description: Applicant breakdown (counts + grouped lists)
        '404':
          description: Post not found

  /api/v1/admin/post-types:
    post:
      tags: [Admin]
      summary: Create a post/employment type (Admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Post type created

  /api/v1/admin/post-types/{id}:
    patch:
      tags: [Admin]
      summary: Update a post type (Admin only)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Post type updated
        '404':
          description: Post type not found
    delete:
      tags: [Admin]
      summary: Delete/deactivate a post type (Admin only)
      description: >-
        Soft-deletes by deactivating (keeps historical posts' type intact). Pass
        ?hard=true to permanently delete (only when no post uses it).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: hard
          in: query
          required: false
          schema:
            type: string
            enum: ["true", "false"]
          description: "true = permanently delete (fails if any post uses the type)"
      responses:
        '200':
          description: Post type deactivated or deleted
        '404':
          description: Post type not found

  /api/v1/admin/posts/{id}/approval:
    patch:
      tags: [Admin]
      summary: Approve or reject a job post (Admin only)
      description: >-
        A post is only visible to users once APPROVED. On the first transition to APPROVED,
        the "new job posted" broadcast fires. Rejecting stores the reason in approval_remark.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [APPROVED, REJECTED]
                remark:
                  type: string
                  description: Rejection reason (stored when status is REJECTED)
      responses:
        '200':
          description: Post approval updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Post'
        '400':
          description: status must be APPROVED or REJECTED
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Post not found

  # Referral codes
  /api/v1/referral/validate/{code}:
    get:
      tags: [Referral]
      summary: Validate a referral code (public)
      description: Lets the signup screen check a code before submitting. Reveals only the owner's name.
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          description: The referral code to validate
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          valid:
                            type: boolean
                          code:
                            type: string
                            nullable: true
                          name:
                            type: string
                            nullable: true
                            description: Owner's name (null if the code is invalid)

  /api/v1/admin/referrals:
    get:
      tags: [Referral]
      summary: List all referral codes (Admin only)
      responses:
        '200':
          description: List of referral codes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ReferralCode'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
    post:
      tags: [Referral]
      summary: Create a referral code (Admin only)
      description: The code is auto-generated if not provided.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email]
              properties:
                name:
                  type: string
                  description: Owner's name
                email:
                  type: string
                  format: email
                  description: Owner's email
                code:
                  type: string
                  description: Optional custom code (auto-generated if omitted)
                is_active:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Referral code created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ReferralCode'
        '400':
          description: Missing name/email, or the code already exists
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only

  /api/v1/admin/referrals/{id}:
    patch:
      tags: [Referral]
      summary: Update a referral code (Admin only)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                code:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Referral code updated
        '400':
          description: The code already exists or is invalid
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Referral code not found
    delete:
      tags: [Referral]
      summary: Delete a referral code (Admin only)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Referral code deleted
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - admin only
        '404':
          description: Referral code not found

  # ─────────────────────────── Chat ───────────────────────────
  /api/v1/chat/threads:
    get:
      tags: [Chat]
      summary: My conversations
      description: >-
        Threads the caller takes part in, newest activity first. A candidate
        only sees threads they can actually use (application APPROVED, or the
        recruiter has written); a recruiter sees all of theirs.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 30, maximum: 100 }
        - in: query
          name: status
          schema: { type: string, enum: [open, closed] }
          description: open = the event has not started yet
      responses:
        '200':
          description: Threads
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ChatThread' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '401': { description: Unauthorized }

  /api/v1/chat/unread-count:
    get:
      tags: [Chat]
      summary: Unread message badge
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Totals
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      total: { type: integer, description: unread messages }
                      threads: { type: integer, description: threads containing them }
        '401': { description: Unauthorized }

  /api/v1/chat/threads/lookup:
    get:
      tags: [Chat]
      summary: Find (or open) the thread for a post
      description: >-
        The applicant passes only postId; the recruiter also passes
        applicantId. Creates the thread if the application predates the chat
        feature.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: postId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: applicantId
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Thread
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data: { $ref: '#/components/schemas/ChatThread' }
        '403': { description: Not a participant }
        '404': { description: No application for that post }

  /api/v1/chat/threads/by-application/{applicationId}:
    get:
      tags: [Chat]
      summary: Find (or open) the thread for an application
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: applicationId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Thread
        '403': { description: Not a participant }
        '404': { description: Application not found }

  /api/v1/chat/threads/{id}:
    get:
      tags: [Chat]
      summary: One thread
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Thread
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data: { $ref: '#/components/schemas/ChatThread' }
        '403': { description: Not a participant }
        '404': { description: Chat not found }

  /api/v1/chat/threads/{id}/messages:
    get:
      tags: [Chat]
      summary: Messages in a thread
      description: >-
        Newest-first pages keyed on `before`; the response is chronological.
        Opening a page marks the thread read for the caller.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: before
          schema: { type: string, format: date-time }
          description: pass `nextBefore` from the previous page to load older history
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 100 }
      responses:
        '200':
          description: Messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      thread: { $ref: '#/components/schemas/ChatThread' }
                      messages:
                        type: array
                        items: { $ref: '#/components/schemas/ChatMessage' }
                      hasMore: { type: boolean }
                      nextBefore: { type: string, format: date-time, nullable: true }
        '403': { description: Not a participant }
    post:
      tags: [Chat]
      summary: Send a message
      description: >-
        Rejected with 400 when the event has already started, or when the
        caller is an applicant who is neither APPROVED nor has been written to
        by the recruiter (see `canSendMessage` on the thread).
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  maxLength: 2000
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data: { $ref: '#/components/schemas/ChatMessage' }
        '400': { description: Empty, too long, chat closed, or not allowed to write yet }
        '403': { description: Not a participant }

  /api/v1/chat/threads/{id}/read:
    post:
      tags: [Chat]
      summary: Mark a thread read
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Marked read }
        '403': { description: Not a participant }

  # ─────────────────────────── Admin ───────────────────────────
  /api/v1/admin/analytics:
    get:
      tags: [Admin]
      summary: Dashboard analytics
      description: >-
        Everything the admin dashboard shows, for the selected window and the
        window immediately before it (so each number can be shown with a
        change). Also carries filter-independent platform totals.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: days
          schema: { type: integer, enum: [7, 30, 90], default: 7 }
      responses:
        '200':
          description: Analytics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      window:
                        type: object
                        properties:
                          days: { type: integer }
                          from: { type: string, format: date-time }
                          to: { type: string, format: date-time }
                      people:
                        type: object
                        description: newUsers, newRecruiters, newTotal, change{users,recruiters}, activeUsers, referralSignups
                      posts:
                        type: object
                        description: created, change, live, completed, pendingApproval
                      applications:
                        type: object
                        description: >-
                          total, pending, approved, rejected, withdrawn,
                          notPresent, change, attended, perPost, acceptanceRate
                      engagement:
                        type: object
                        description: chatThreads, chatMessages, certificatesIssued
                      needsAttention:
                        type: object
                        description: postsPendingApproval, flaggedPending, applicationsPending
                      totals:
                        type: object
                        description: all-time users, recruiters, posts, applications
                      series:
                        type: object
                        description: >-
                          per-day counts for the window: signups, userSignups,
                          recruiterSignups, posts, applications
                      topPosts: { type: array, items: { type: object } }
                      topRecruiters: { type: array, items: { type: object } }
        '401': { description: Unauthorized }
        '403': { description: Forbidden - admin only }

  /api/v1/admin/users/{id}:
    get:
      tags: [Admin]
      summary: One user's full profile
      description: >-
        The same projection the users list returns, for a single account — so
        a profile can be opened from a post's applicant list, a report or a
        chat without searching the list for them.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: User
        '403': { description: Forbidden - admin only }
        '404': { description: User not found }

  /api/v1/admin/chats:
    get:
      tags: [Admin]
      summary: Chat threads (read-only moderation)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20, maximum: 100 }
        - in: query
          name: search
          schema: { type: string }
          description: post title, applicant or recruiter name/email/company
        - in: query
          name: status
          schema: { type: string, enum: [open, closed] }
      responses:
        '200': { description: Threads with pagination and counts }
        '403': { description: Forbidden - admin only }

  /api/v1/admin/chats/{id}/messages:
    get:
      tags: [Admin]
      summary: A whole conversation (read-only)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Thread and its messages, chronological }
        '403': { description: Forbidden - admin only }
        '404': { description: Chat not found }

  # ─────────────────────────── API v2 ───────────────────────────
  /api/v2/post/get-all:
    get:
      tags: [Posts]
      summary: Candidate job feed (v2 — includes recruiter details)
      description: >-
        Same filters, paging and per-post fields as
        GET /api/v1/post/get-all, plus the event `state` and a `recruiter`
        block: company name, logo, type, address, member-since, and their
        average rating with the number of ratings.


        Contact details are deliberately excluded — candidates reach a
        recruiter through chat once approved, so the feed cannot be scraped for
        contacts. v1 is unchanged for older app builds.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 10 }
        - in: query
          name: type_id
          schema: { type: integer }
        - in: query
          name: state
          schema: { type: string }
          description: only events in this state
      responses:
        '200':
          description: Posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }
                  data:
                    type: object
                    properties:
                      posts:
                        type: array
                        items: { $ref: '#/components/schemas/PostV2' }
                      totalPages: { type: integer }
                      currentPage: { type: integer }
                      totalPosts: { type: integer }
        '401': { description: Unauthorized }

  /api/v2/post:
    post:
      tags: [Posts]
      summary: Create a job post (v2 path)
      description: >-
        Identical behaviour to POST /api/v1/post — same validation, approval
        flow and notifications — on the tidier v2 path. Accepts `event_state`.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content, startDate, endDate, paymentDate]
              properties:
                title: { type: string }
                content: { type: string }
                startDate: { type: string, format: date-time }
                endDate: { type: string, format: date-time }
                paymentDate: { type: string, format: date-time }
                event_state:
                  type: string
                  maxLength: 100
                  example: Maharashtra
      responses:
        '201': { description: Post created, pending admin approval }
        '400': { description: Validation error }
        '403': { description: Forbidden - recruiter/admin only }

  /api/v2/post/{id}:
    put:
      tags: [Posts]
      summary: Update a job post (v2 path)
      description: >-
        Identical behaviour to PUT /api/v1/post/update/{id}. `event_state` is
        only written when the key is present in the body.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                event_state: { type: string, maxLength: 100 }
      responses:
        '200': { description: Post updated }
        '403': { description: Not your post }
        '404': { description: Post not found }
